<div class="full-width">
  <mat-form-field class="full-width">
    <input matInput class="full-width" type="text" placeholder="Enter Name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput class="full-width" type="email" placeholder="Enter Email">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput class="full-width" type="password" placeholder="Enter Password">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput class="full-width" type="password" placeholder="Enter Password">
  </mat-form-field>
  <button  mat-raised-button class="full-width" color="primary">Sign-Up</button>
</div>