<div class="main-div">
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="child-div">
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <img mat-card-image src="http://my.mobirise.com/data/userpic/764.jpg"/>
            <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
